.logout {
   color: #3B82F6;
   font-weight: 700;
   transition: .15s;
   font-family: inherit;
   margin: 0; 
   padding: 0;
   background: transparent;
   border: none;
   cursor: pointer;
}

.logout:hover {
   color: var(--text-color);
}